APP_ENV=production

EXPO_PUBLIC_API_URL=https://dongu.yalovawebcozumleri.com/api/v1
EXPO_PUBLIC_REVERB_APP_KEY=
EXPO_PUBLIC_REVERB_HOST=dongu.yalovawebcozumleri.com
EXPO_PUBLIC_REVERB_PORT=443
EXPO_PUBLIC_REVERB_SCHEME=https

EXPO_PROJECT_ID=71e9dcc6-5139-46e9-a996-fcf819fb60ed
GOOGLE_SERVICES_JSON=

EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=ca-app-pub-6681150378641816~3971591059
EXPO_PUBLIC_ADMOB_IOS_APP_ID=ca-app-pub-6681150378641816~9731527070
EXPO_PUBLIC_ADMOB_ANDROID_NATIVE_UNIT_ID=
EXPO_PUBLIC_ADMOB_ANDROID_INTERSTITIAL_UNIT_ID=
EXPO_PUBLIC_ADMOB_ANDROID_REWARDED_UNIT_ID=
EXPO_PUBLIC_ADMOB_IOS_NATIVE_UNIT_ID=
EXPO_PUBLIC_ADMOB_IOS_INTERSTITIAL_UNIT_ID=
EXPO_PUBLIC_ADMOB_IOS_REWARDED_UNIT_ID=

EXPO_PUBLIC_AD_SALES_URL=https://wa.me/905413342219?text=Merhaba%2C%20D%C3%B6ng%C3%BC%20reklam%20ve%20destek%C3%A7i%20se%C3%A7enekleri%20hakk%C4%B1nda%20bilgi%20almak%20istiyorum.
EXPO_PUBLIC_TERMS_URL=https://dongu.yalovawebcozumleri.com/kullanim-sartlari
EXPO_PUBLIC_PRIVACY_URL=https://dongu.yalovawebcozumleri.com/gizlilik-politikasi
EXPO_PUBLIC_ACCOUNT_DELETION_URL=https://dongu.yalovawebcozumleri.com/hesap-silme
